/*
 * @Author: liuqian 
 * @Date: 2018-11-15 16:35:06 
 * @Last Modified by: liuqian
 * @Last Modified time: 2018-11-16 15:17:03
 */
.createTrain{font-size: 14px;background:#fff;text-align:left;
  .title{height:44px;line-height:44px;padding:0 12px;}
  .trainFrom{
  .companyInfo{padding:14px;border:1px dashed #eee;}
  }
}