.userManage{
  width:100%;
  margin:0;
  padding:0;
  height: 100%;
  overflow: hidden;
  .listShow{height: 100%;width: 100%;margin: 0 auto;overflow: hidden;
    .search{width:60%;margin-bottom: 20px;margin-top: 20px;height: 40px;}
    .addBtn{width: 8%;float: right; padding-right: 4%; margin-bottom: 20px;margin-top: 20px;height: 40px;}
    .addLdap {width: 15%;float: right; padding-right: 2px ; margin-bottom: 20px;margin-top: 20px;height: 40px;text-align: right}
  }
  .userInfo{font-size: 12px;height:100%;overflow: hidden;width: 100%;margin: 0 auto;padding-top: 20px;
    div{margin:5px 0;div,label{display: inline-block;}label{width:150px;text-align:right;margin-right:20px;em{color:red;margin-right:6px;}}div{width:600px;}}
  }
  .page{background:#fff;text-align:center;padding:5px 0;}
  .control{
    overflow: hidden;
    height:calc(100% - 300px);
    .tree_container {
      width: 600px;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
    }
    .el-tree {
      width: 100%;
      min-height: 100%;
      margin: 0;
      padding: 0;
    }
  }
}
.daily_content , .daily_header{
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: .8rem;
}
.daily_header{
  min-height: 60px;
  max-height: auto;
  line-height: 60px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  background: #e5eaeb;
  flex-wrap:wrap;
}
.daily_content{
  margin: 0 auto;
  height: calc(100% - 20px);
  overflow-y: hidden;
  // background: azure;
}

// 导航样式
.daily_header .daily_search, .daily_header .daily_reset{
  margin-top: 10px;
  height: 40px;
}
.daily_reset{
  margin:0 0 0 30px;
}
// 表单样式
.daily_content .daily_table{
  width: 100%;
  height: calc(100% - 50px);
  background: #e5eaeb;
}
.demonstration{
  color:#999;
  font-size: 14px;
  padding: 0 5px 0 0;
}
.daily_content .daily_pages{
  width: 100%;
  height: 50px;
  background: #fff;
  overflow: hidden;
  .el-pagination{
    margin-top: 9px;
    display: flex;
    justify-content: center;
  }
}

