body,div,p,span,a,em,i,ul,li,img,input,select,textarea,table,tr,td,th{margin:0;padding:0;font-family: 'Microsoft YaHei';font-size:14px;}
.bodshaod{background-color:gray;opacity:0.3}
body{width:100%;height:100%;
    // min-width: 1366px;
}/*min-width: 1366px;*/
a{text-decoration:none;}
li{list-style:none;}
.back{background-color: #edf2f5;width:100%;margin:auto;}
.qu{height:36px;line-height:36px;background-color: white;}
// 搜索框 下拉列表
.ji{
    background: #fff;
    text-align:left;
    // margin:32px 0 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    span {
        margin: 8px 0;
    }
    label{margin:0 0 0 10px;}
    input{height:30px;width:200px;margin:0 20px;padding-left:10px;border:1px solid #808080;border-radius:5px;} }
   .so,.cho{height:32px;width:80px;text-align:center;border-color:#bcc3ca;display:inline-block;border-radius:5px;line-height:32px;}
        .so{background-color: #0386f0;margin:10px 20px;color:white;letter-spacing:2px}
        .cho{background-color: #eeeeee;color:black;}     

.xinz{height:52px;background-color: white;text-align:left;position: relative;border-radius: 5px 0 5px 0;box-sizing: border-box}
.cp{height:50px;line-height: 50px;text-align: left;background-color:rgb(238,238,238);overflow: hidden;width: 100%;border-top-left-radius:10px;

}
.wid4,.wid5,.wid6,.wid7,.wid8,.wid11, .c0,.c1,.c2,.c3,.c4{
    font-size:14px;
    color:rgba(0,0,0,.85);
    display:inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.c1{margin-left:22px;width:110px;}
.c3{width:240px;}
.wid4{width:23.5%;margin-left:1%;}
.wid5{width:18%;margin-left: 1%;}
.wid6{width:15%;margin-left: 1%;}
.wid7{width:13%;margin-left: 1%;}
.wid8{width:11%;margin-left: 1%;}
.wid11{width:7.5%;margin-left: 1%;}
.wid_1{padding-left:22px;box-sizing: border-box}
.it{background-color:white;text-align:left;position:relative;z-index:1;
    li{/*height:45px;line-height:45px;*/padding:9px 0;border-bottom: 1px solid #eee}
}
.cha,.bian,.dele,.open{width:20px;height:20px;display:inline-block;}
.chanp,.chanpf,.chanps,.chanpw,.chanpz,.chanpj,.guan,.gong,.system,.personal,.lineStation,.allshow,.line1,.line2,.line3,.line4,
.service,.nodeCase,.supSetting,.clientTrade,.product,.productnow,.chanpnow,.openstationf,.openstations,.openstationt,
.openstationfr,.newj,.productService,.commodifyLabel,.single_,.single_product,
.openstationfr,.newj,.productService,.commodifyLabel,.commodifyModule,.addChanpj
{background-color: #edf2f5;width:100%;margin:auto;}
.bao{text-align:right;margin-right:20px;position: relative;
        a{display:inline-block;padding:5px 8px;border:1px solid gray;border-radius:5px;margin:5px;}
        .quu{color:#515c6e}.qub{color:#fff;background-color:#0386f0}}
.afb{width:100%;height:50px;line-height:50px;position:relative;margin:0!important;
    span{float:left;margin-left:30px;}
        i{display:inline-block;width:11px;height:11px;position:absolute;top:20px;right:20px;}}
        .label{width:100px;text-align:right;margin-right:10px;display:inline-block;}
    .input{width:402px;height:32px;padding-left:10px;border-radius:5px;border:1px solid #999;}
.clearFloat:after {visibility: hidden;clear: both;display: block;height: 0px;content: "."}
.clearFloat {zoom: 1;}
.mar20{margin-left:20px!important;}
.ii{font-style:normal;color:red;margin-left:5px;}
.tip{width:150px;height:100px;position:fixed;top:35%;left:45%;z-index:99999999;border:1px solid gray;background-color:white;padding:20px;}
.el-menu{
    text-align: left;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
     width: 8px;
     height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:6px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    // background:rgba(237,242,245,0.1);
    background: #bdbdbd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(237,242,245,0.4);
}
/*------------菜单滚动条----------------------*/
#aside::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#aside::-webkit-scrollbar-track {
   border-radius:6px;
}
#aside::-webkit-scrollbar-thumb {
   border-radius: 6px;
//    background:rgba(#c9c9c9,1);
   background: #bdbdbd;
}
#aside::-webkit-scrollbar-thumb:window-inactive {
//    background:rgba(#c9c9c9,1);
     background: #bdbdbd;
}


/*菜单样式*/
.el-aside .el-menu-item {
    background-color: #2A323E !important;
    &:hover {
        opacity: 0.8 !important;
        background: #2A324A  !important;
        box-shadow: 0 0 5px #2A324A;
    }
}
.el-aside .el-submenu .el-submenu__title{
    background-color: #2A323E !important;
    &:hover {
        opacity: 0.8 !important;
        background: #2A324A  !important;
        box-shadow: 0 0 5px #2A324A;
    }
}
.el-menu {
    background-color: #2A323E !important;
}
.el-aside .el-submenu .el-menu .el-menu-item {
    background-color: #242C34 !important;
    &:hover {
        opacity: 0.8 !important;
        background: #2A324A  !important;
        box-shadow: 0 0 5px #2A324A;
    }
}

.el-message-box__header , 
.el-message-box__content , 
.el-dialog__header, 
.el-dialog__body{
    border-bottom: 1px solid #dcdfe6;
}

// Breadcrumb 面包屑
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
    cursor: pointer !important;
  }
// 适配处理
@media screen and (min-width: 1400px) {
    .wid7 {
        width: 13%;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .wid7 {
        width: 12.5%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .wid7 {
        width: 12%;
    }
}
@media screen and (min-width: 899px) and (max-width: 1000px) {
    .wid8 {
        width: 10%;
    }
}
@media screen and (max-width: 900px) {
    .wid4 {
        width: 22.5%;
    }
    .wid8 {
        width: 9.5%;
    }
    .wid11 {
        width: 7%;
    }
}